# Ignore all datasets
datasets/*

# Re-include folder structure
!datasets/
!datasets/ceus_dataset/
!datasets/ceus_dataset/annotations/
!datasets/ceus_dataset/annotations/*.json

# Python cache
__pycache__/
*.pyc

# Checkpoints
*.pth
*.ckpt

# Logs
*.log
outputs/
