# Ignore only CEUS dataset folder
datasets/ceus_dataset/
datasets/ceus_dataset_ap_only/

# Keep annotation 
!datasets/ceus_dataset/annotations/
!datasets/ceus_dataset/annotations/**

# Python cache
__pycache__/
*.pyc

# Checkpoints
*.pth
*.ckpt

# Logs
*.log
outputs/


*.zip